* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.button {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #008752;
    display: block;
    padding: 11px;
    max-width: 181px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button_secondary {
    background: #95459A;
}